section#tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4em);

  .container {
    padding: 1em;
    display: flex;
    border-radius: 1em;
    flex-direction: column;
    background-color: var(--5);
    width: clamp(20em, 70vw, 80em);
    box-shadow: .2em .2em .2em rgba(0 0 0 / .2);

    .title {
      flex: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em var(--padding-inline);
    }
  }
}